@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
.bg-overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('./img/bg.png');
  background-position: 0 0;
  background-repeat: repeat;

  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

}
.bg-overlay:after{
  content: '';  
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: rgba(0,0,0,0.8);
}



@-webkit-keyframes MOVE-BG {
  from {
    background-position: 0 0;
  }
  to { 
    background-position: 1000% 0;
  }
}

.main-container, .outer-container{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  text-align: center;
}
.card-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  border-radius: 24px;
  width: 540px;
  max-height: 80vh;
  height: 85vh;
  background-image: url('./img/bg/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  text-align: center;
  padding: 32px;
  display: inline-block;
}
.card-inner-container{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}
.btn-container{
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100px;
}
.btn{
  display: block;
  margin-bottom: 24px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.btn:hover{
  opacity: 0.6;
}
.btn img{
  width: 64px;
}
.hbd-logo{
  position: relative;
  top: 32px;
  height: 260px;
  display: block;
  text-align: center;
  margin: 0px auto 32px auto;
}
.rama{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -134px;
  top: 0;
  transform: scale(0.8);
}
.torso{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.torso img{
  height: 258px;
  width: auto;
  display: block;
  margin: auto;
}
.head{
  position: absolute;
  bottom: 224px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.head img{
  height: 430px;
  width: auto;
  display: block;
  margin: auto;
}
.shades{
  position: absolute;
  bottom: 424px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.shades img{
  height: 94px;
  width: auto;
  display: block;
  margin: auto;
}
.hair{
  position: absolute;
  bottom: 447px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.hair img{
  height: 406px;
  width: auto;
  display: block;
  margin: auto;
}
.mask{
  position: absolute;
  bottom: 225px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.mask img{
  height: 430px;
  width: auto;
  display: block;
  margin: auto;
}
.glitter{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
}


.mob{
  display: none;
}

.image-fader {
  width: 300px;
  height: 300px;
}

.image-fader img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

@keyframes imagefade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
}

.footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 0;
  padding: 12px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: linear-gradient(360deg, rgba(0,0,0,0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.loader{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  border-radius: 24px;
}
.loader img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  margin: auto;
}


@media(max-width: 800px){
  body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .mob{
    display: block;
  }
  .main-container{
    display: none;
  }
  .bg-overlay{
    display: none;
  }
}